html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

h1 {
    font-size: 2em;
    font-weight: 200;
}


.node {
    cursor: pointer;
    fill: red;
}
.node:hover {
    fill: darkred;
}

.edge {
    fill: none;
    stroke: purple;
    stroke-width: 3px;
    stroke-linecap: round;
}
.edge.coast {
    stroke: orange;
}
.edge.grid {
    stroke: blue;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 15px;
    background: rgba(0,0,0,0.75);
    box-sizing: border-box;
}
.header_logo {
    float: left;
    color: #eee;
    font-size: 24px;
    font-weight: 500;
}
.header_status {
    float: left;
    margin-top: 7px;
    margin-left: 25px;
    color: #ddd;
    width: 200px;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
}

.header_control {
    float: right;
    margin-left: 15px;
    padding: 5px 10px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}
.header_control:hover {
    background: #ddd;
}

.cursor_coordinates {
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-shadow: 1px 1px 1px #333;
    z-index: 2;
}

#map {
    height: 100%;
    z-index: 1;
}


.costs {
    display: none;
    height: 100%;
    background: white;
    padding: 80px 25px;
    font-weight: 200;
    z-index: 10;
}
.costs_table {
    color: #777;
}
.costs_table th {
    font-weight: 500;
}
.costs_table th,
.costs_table td {
    padding: 8px 0;
}
.costs_table_supplies {
    width: 200px;
    text-align: left;
}
.costs_table_amount,
.costs_table_cost {
    width: 100px;
    text-align: right;
}
.costs_total td {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}




