html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    overflow: hidden;
}


.node {
    cursor: pointer;
    fill: green;
}
.node:hover {
    fill: red;
}

.edge {
    fill: none;
    stroke: purple;
    stroke-width: 0.3px;
    stroke-linecap: round;
}
.edge.coast {
    stroke: orange;
}
.edge.grid {
    stroke: blue;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 15px;
    background: rgba(0,0,0,0.75);
    box-sizing: border-box;
}
.header_logo {
    float: left;
    color: #eee;
    font-size: 24px;
    font-weight: 500;
}
.header_status {
    float: left;
    margin-top: 7px;
    margin-left: 25px;
    color: #ddd;
    width: 200px;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
}

.header_control {
    float: right;
    margin-left: 15px;
    padding: 5px 10px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}
.header_control:hover {
    background: #ddd;
}

.cursor_coordinates {
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-shadow: 1px 1px 1px #333;
}

#map {
    height: 100%;
}







